
h1
{
	color: crimson; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-size: cover;
	background-position: center;
}

#myCanvas{
border-width: 20px;
border-style: ridge;
border-color: crimson;
background-color: white;
}
